html{
    height:100%;
}

body{
    background:linear-gradient(to bottom right, #005073, #107dac, #005073, #107dac, #005073);
    background-color: white;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

.divPageBody{
    width:50%; 
    margin:25px auto 50px auto;
    border:none;
}

.divSection{
    height:100%;
    margin-top:10px;
    margin-bottom:20px;
    padding:20px;
    background-color:white;
    border-radius:5px;
    border:solid 1px #005073;
}

h1{
    padding:20px;
    text-align:center;
    font-size:60px;
    color:white;
    font-family:Impact;
    letter-spacing:5px;
    text-shadow:5px 5px 10px black;
}

.button{
    display:block;
    margin-top:20px;
    padding:5px;
    width:100%;
}

.lbl{
    display:block;
    margin:5px;
    padding:5px;
    text-align:left;
    font-size:small;
    color:#005073;
}

.lblSubTitles {
    font-family: Impact;
    font-size: medium;
    color: #005073;
}

.txb{
    width:100%;
    display:block;
    padding:5px;
    text-align:left;
    font-size:medium;
    border-radius:5px;
    border:solid 1px #005073;
}

.image {
    margin: auto;
    display: block;
    /*margin-left:5px;*/
    width: 100%;
    height: 100%;
}

.divTitle {
    width: 50%;
    margin:0px auto 0px auto;
    border: none;
}

.lblError {
    display: block;
    text-align: left;
    font-size: xx-small;
    color: darkred;
}

.GridView {
    border-collapse: collapse;
    border: 1px solid black;
    font-size: small;
}

    .GridView th {
        background-color: #005073;
        border: 1px solid black;
        color: white;
        text-align: center;
        font-family: Arial;
        padding-top: 1em;
        padding-bottom: 1em;
    }

    .GridView td {
        color: black;
        padding-right: 1em;
        padding-left: 1em;
    }

.GridView tr:nth-child(2n+1) {
    background-color: #e7eff6;
}

.BtnCancel {
    display: block;
    margin-top: 20px;
    padding: 5px;
    width: 100%;
    background-color: #005073;
    text-decoration:none;
    color: white;
}

